.banner {
  display:grid;
}

.banner-image {
  width:100%;
  margin-top: -80px;
}

.banner-text,
.banner-subtext {
  display:grid;
  place-items: center;
  height: 100px;
  font-family: 'poppins';
  color:aliceblue;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 0px;
}

.banner-text {
  margin-top: -400px;
}

.banner-subtext {
  height: 50px;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: -300px;  
}

.section-grid,
.section-grid-b,
.section-grid-c {
  display:grid;
  background-color: #6d675d;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.section-image,
.section-image-b {
  margin: 25%;
  margin-left: 5%;
  width: 90%;
  border-radius: 3%;
}

.section-image-b {
  margin-right: 0;
}

.section-text,
.section-text-b, 
.section-subtext,
.section-subtext-b {
  margin: 3% 12%;
  font-family: 'poppins';
  font-size: 2.6em;
  font-weight: 600;
  color:#fcfcf4;
  width: 67%;

}

.section-subtext,
.section-subtext-b {
  font-size: 1em;
  font-weight: 400;
}

.section-subtext:last-child,
.section-subtext-b:last-child {
  margin-bottom: 22%;  
}

.learn-more-button,
.learn-more-button-b {
  width: 150px;
  padding: 5px 10px;
  text-align: center;
  border: 2px solid #fcfcf4;
  border-radius: 30px;
  margin-top: 8%;
  margin-left: 65%;
}

.section-grid-b {
  background-color: #bec2c4;
  grid-template-columns: 2fr 1fr;
}

.section-text-b,
.section-subtext-b,
.learn-more-button-b {
  color:#6d675d;
}

.learn-more-button-b {
  border-color:#6d675d;
}
.section-grid-c {
  background-color: #ffffff;
}